@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* shared style */

.display-flex {
  display: flex;
}
.button-dark {
  margin: 24px 0px;
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 12px;
  background: rgb(17, 17, 17);
}
.section-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 700;
}
.story-sub-title {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 28.76px;
  padding: 20px 4px 30px 25px;
}

/* navbar style */
.navbar {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 120px;
  gap: 150px;
}
.nav-responsive-menu {
  display: none;
}
.nav-item {
  list-style: none;
  margin-left: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav-title {
  color: rgb(17, 17, 17);
  font-size: 2.2rem;
  font-weight: 700;
  padding: 17px 0 15px 11px;
}
.nav-item1 {
  color: rgb(254, 163, 1);
  font-size: 20px;
  font-weight: 700;
}
.nav-item2 {
  color: rgb(1, 172, 253);
  font-size: 20px;
  font-weight: 500;
}
.nav-item3 {
  color: rgb(5, 212, 223);
  font-size: 20px;
  font-weight: 500;
}
.nav-item4 {
  color: rgb(93, 88, 239);
  font-size: 20px;
  font-weight: 500;
}
.nav-logo {
  width: 100%;
}
.nav-btn {
  padding: 14px 60px;
  border-radius: 12px;
  background: rgb(254, 163, 1);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
}
/* banner style */
.banner {
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  padding: 0px 120px;
  gap: 50px;
}
.banner-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 61px;
}
.banner-img {
  width: 100%;
}
.orange {
  color: rgb(254, 163, 1);
}
.sky-blue {
  color: rgb(1, 172, 253);
}
.banner-description {
  color: rgb(17, 17, 17);
  font-size: 1.2rem;
  margin-top: 10px;
}

/* standard-curriculum-section-style */

.curriculum-section {
  background-image: url("assets/bg.png");
  padding: 60px 0px;
}
.curriculum-container {
  margin: 80px 0px;
  gap: 28px;
  max-width: 1150px;
  padding: 0px 120px;
}
.card {
  border-radius: 18px;
  height: 440px;
  text-align: center;
}
.card > img {
  margin-top: 65px;
  width: 30%;
}
.card-1 {
  border: 1px solid rgb(222, 245, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to bottom, #def5ff 0%, white 40%);
}
.card-2 {
  border: 1px solid rgb(255, 244, 220);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to bottom, #fff4dc 0%, white 40%);
}
.card-3 {
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to bottom, #f2e8ff 0%, white 40%);
}
.card-title {
  color: rgb(32, 32, 32);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 30px 0px;
}
.card-description {
  color: rgb(128, 128, 128);
  font-weight: 500;
  font-size: 1rem;
  padding: 0px 15px 33px 15px;
  line-height: 28.3px;
}
.card a {
  text-decoration: none;
}
.card1-text {
  color: rgb(100, 200, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28.3px;
}
.card2-text {
  color: rgb(240, 170, 0);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28.3px;
}
.card3-text {
  color: rgb(135, 0, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28.3px;
}
.curriculum-arrow {
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.arrow {
  background: rgb(254, 163, 1);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 900;
}

/* stories style */
.stories-section {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(254, 163, 1, 0.3)),
    url("./assets/bg.png");
  padding: 60px 0px;
}
.stories-container {
  max-width: 1150px;
  padding: 0px 120px;
  gap: 18px;
  margin: 80px 0px;
}
.story-1 {
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  height: 630.52px;
  width: 520px;
}
.story1-img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}
.story1-title {
  color: rgb(32, 32, 32);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 30px 38px;
}
.story1-description {
  color: rgb(102, 102, 102);
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 80px 34px 38px;
  word-spacing: 1px;
}

.story1-btn {
  background: #3cd8e8;
  border: none;
  border-radius: 47px;
  padding: 14px 20px;
  font-size: 15px;
  color: white;
  position: relative;
  bottom: 5%;
  left: 5%;
}
.stories-sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.other-story {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  width: 240px;
}
.other-story-img {
  width: 100%;
}
.other-story-btn {
  border: none;
  border-radius: 47px;
  padding: 9px 18px 10px 19px;
  font-size: 0.8rem;
  color: white;
  position: relative;
  bottom: 5%;
  left: 5%;
  font-weight: 500;
}
.story-2 button,
.story-4 button,
.story-5 button {
  background: rgb(149, 178, 38);
}
.story-3 button {
  background: rgb(93, 88, 240);
}
.our-story-btn {
  margin: 50px 550px 20px;
}
/* footer style */
footer {
  background: rgb(1, 172, 253);
  padding: 123px 100px 174px 140px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.site-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  padding-top: 20px;
}
.footer-description {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  word-spacing: 2px;
}
.footer-link {
  margin: 30px;
}
.footer-link h3 {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 700;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  /* navbar */
  nav {
    border-bottom: 1px solid rgb(254, 163, 1);
    padding: 12px 16px;
  }
  .navbar {
    display: none;
  }
  .nav-responsive-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }
  .nav-logo {
    width: 12%;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .banner-img {
    margin-top: 20px;
  }
  .banner-title {
    text-align: center;
  }
}
